.page-footer {
  background-color: $background;
}

.logotype {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-style: normal;
}

.logotype__accent {
  color: $blue-active;
}
  
.page-footer__container {
  display: flex;
  align-items: baseline;
  
  padding-top: 60px;
  padding-bottom: 60px;

  max-width: 1200px;
  margin: auto;
  padding-left: 15px ;
  padding-right: 15px;
}
  
.address-box__street {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: $white;
  margin-bottom: 9px;

  &:hover,
  &:focus {
    color: $blue-active;
  
    transition-property: transform;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
  
    
.contact-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  display: block;
}
  
.contact-footer__meil {
  margin-bottom: 9px;
}
    
.contact-footer__link {
  color: $white-text-op60;

  &:hover,
  &:focus {
    color: $blue-active;
  
    transition-property: transform;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
  
.page-footer__social {
  margin-left: 70px;
}
  
.page-footer__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
  color: $white;
  margin-bottom: 20px;
}
  
.footer-social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background-color: $blue-active;
    color: $white;

    transition-property: transform;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.social-networks {
  display: flex;
  align-items: center;
  margin-top: 16px;
}


.social-networks {
  .footer-social__elements + .footer-social__elements {
    margin-left: 10px;
  }
}

.footer-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
  
//форма розсилки

.page-footer__box {
  margin-left: 93px;
}

.page-footer__form {
  display: flex;
  align-items: center;
  
} 


.page-footer__text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  font-style: normal;
  color: $white;
  text-transform: uppercase;
  margin-bottom: 20px;
}
  
.page-footer__input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 30%);
  background-color: $background;
  
  display: flex;
  align-items: center;
  padding-left: 16px;
    
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  font-style: normal;

  &__input:focus {
    outline: none;
  }
}
  
.page-footer___button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  color: $white;
  background-color: $blue-active;

  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  font-family: "Roboto", sans-serif;
  
  display: flex;
  align-items: center;
  padding-left: 29px;
  margin-left: 10px;
  border: 0px;
}
  
  
.page-footer__icon {
  width: 24px;
  height: 24px;
  fill: $white;
  top: 13px;
  left: 28px;
  margin-left: 10px;
}