.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  min-height: 581px;
  min-width: 528px;
  
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),0px 1px 1px rgba(0, 0, 0, 0.14),0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  
  transition-property: transform;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: $white;
  
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
  
.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: $white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 8px;
  right: 8px;
  outline: 0px;

  &:hover,
  &:focus {
    transition-property: transform;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    color: $blue-active;
    outline: 0px;
  }

  $__close {
    width: 18px;
    height: 18px;
    top: 3px;
    left: 4px;
    fill: currentColor;
  }
}
  

.modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1,15px;
  color: $black-text;
  text-align: center;
  margin-bottom: 12px;
  letter-spacing: 0.03em;
  }

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;

  $__name {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1,16px;
    color: $black-light;
    margin-bottom: 4px;
    letter-spacing: 0.01em;
  }
}
  
.form-field--placecomment {
  margin-bottom: 20px;
}
  
.form-field__input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;

  &:hover, 
  &:focus {
    fill: $blue-active;
    border-color: $blue-active;
    transition-property: transform;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
  
  
  
.form-field__input:focus,
.form-field__input:hover+.form-field__svg {
  outline: none;
  fill: $blue-active;
  transition-property: transform;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
.form-field__svg {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: $black-text;
}
  
  
.form-field__name {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1,16px;
  color: $black-light;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
}
  
.form-field__textarea {
  height: 120px;
   
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16px;
  color:rgba(117, 117, 117, 0.5);
}
  
.form-field__textarea:hover,
.form-field__textarea:focus {
  border: 1px solid $blue-active;
  outline: none;
  transition-property: transform;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
  
.wrapper-checkbox__label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  color: $black-light;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
  
.wrapper-checkbox__link {
  display: block;
  color: $blue-active;
  text-decoration: underline;
} 
  
.wrapper-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
    
.wrapper-checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  letter-spacing: 00.03em;
    
  border: 2px solid $black-text;
  border-radius: 2px;
  
  margin-left: 14px;
  margin-right: 9px;
}
  
.wrapper-checkbox__input:checked + .wrapper-checkbox__icon {
  border-color: transparent;
  fill: $white;
  background-color: $blue-active;
  background-image: url(../img/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  
  transition-property: transform;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
  
// Кнопка модалки 

.div-button__submit {
  width: 200px;
  height: 50px;
  
  border-radius: 4px;
  border: 1px solid $blue-active;
  color: $white;
  background-color: $blue-active;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 15%);
  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87px;
  outline: 0px;
}
  
.div-button {
  display: flex;
  justify-content: center;
}
  
textarea {
  resize: none;
}