.our-work__container {
  padding-bottom: 94px;
}

.our-work__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: $black-text;

  margin-bottom: 50px;
}

.our-work__list {
  margin: 0;
  list-style: none;
  display: flex;
  margin-left: -30px;
}

.our-work__list > .our-work__item  {
  flex-basis: calc(100% / 3 - 30px);

  margin-left: 30px;
}

.our-work__item {
  margin: 0;
  position: relative;
}


.our-work__box {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  display: block;
}

.our-work__thumb {
  position: relative;
  overflow: hidden;
}

.our-work__box > .our-work__text {
  text-align: center;
}

.our-work__thumb > .our-work__box {
  position: absolute;
}

.our-work__text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: $white;
}