.advancers__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advancers__list {
  display: flex;

  .advancers__box {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bac-dark-grey;
    margin-bottom: 30px;
  }

  .advancers__icon {
    width: 70px;
    height: 70px;
    fill: currentColor;
  }

}

.advancers__list {
  .advancers__item + .advancers__item {
    margin-left: 30px;
  }
}

.advancers__list {
  .advancers__item {
    flex-basis: calc((100% - 90px) / 4);
  }  
}

.advancers__description {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: $black-text;
  margin-bottom: 10px;
}
  
.advancers__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: $black-light;
}