$blue-active: #2196f3;
$black-text: #212121;
$black-light: #757575;
$background: #2f303a;
$white: #ffffff;
$bac-gray: #e5e5e5;
$bac-dark-grey: #f5f4fa;
$white-text-op60: rgba(255, 255, 255, 0.6);
$black: #000000;
$snw: #AFB1B8;
$border-col: #EEEEEE;
$dist-cards: 30px;
